/* reponsive
/* Mobile */
/* .header {
    padding: 12px 60px;
}
@media (min-width: 430px) and (min-height: 926px) {
    .header {
        padding: 15px;
        gap: 50px;
    }
    .logo {
        width: 120px;
    }
    .trang {
        display: none;
    }
} */
